.background-image {
  width: 312px;
  height: 231px;
  margin: 0 1vw;
  border-radius: 7%;
  box-shadow: 0px 0px 15px black;
  transition: 0.3s;
  cursor: pointer;
}

.background-image:hover {
  box-shadow: 0px 5px 18px black;
  transform: scale(1.02);
}

.title {
  font-size: small;
  color: aliceblue;
  background-color: darkblue;
}

.diets {
  
}