.container-recipedetail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-title {
  
}

.detail-img {
  width: 500px;
  height: 300px;
}

.detail-summary {
  
}

.detail-step {
  
}