.container-nav {
  background-color: blanchedalmond; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: fit-content;
}

.container-nav li a {
  float: left;
  color: grey;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.container-nav li a:hover {
  background-color: whitesmoke;
  color: black;
}
