.container-nav {
  background-color:cadetblue; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: 15%;
}

.container-nav li a {
  text-decoration: none;
  padding: 7%;
  border: 10px;
  background-color:dodgerblue;
  transition: .2s all;
}

.container-nav li a:hover {
  background-color:aliceblue;
}