.container-nav {
  background-color: blanchedalmond;
  text-align: center;
}

.container-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: fit-content;
}

.container-nav a {
  text-decoration: none;
}

.container-nav a:hover {
  text-decoration: underline;
}
