.loading {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading p {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50vw, 50vh);
}

.container-searchbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  column-gap: 1vw;
  justify-content: center;
}

.searchbar {
  display: flex;
  width: fit-content;
}

.searchbar-input {
  width: 150px;
}

.container-recipes {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw;
  row-gap: 1vw;
}
