.loading {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading p {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50vw, 50vh);
}

.container-searchbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  column-gap: 1vw;
  justify-content: center;
}

.searchbar-input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-recipes {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw;
  row-gap: 1vw;
}
