.container-home {
  background-image: url("food-background.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.button-home {
  background-color: rgb(187, 201, 212);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 12px 24px;
  width: 100%;
  max-width: 460px;
  line-height: 1.75rem;
  text-decoration: none #000000 solid;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  touch-action: manipulation;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
}

.button-home:hover {
  box-shadow: 0px 0px 18px black;
}

.button-home:focus {
  outline: 0;
}

.button-home:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-home:hover:after {
  bottom: 2px;
  left: 2px;
}
