.container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30vw;
}

.text-form li {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-checkbox {
  display: block;
}

.error {
  color: red;
}

.submit {
  width: 100%;
  background-color: blanchedalmond;
  color: grey;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}
