.container-sort {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
}

.label-sort {
  margin-right: 1vw;
}

.container-sort select {
  width: 150px;
}
