.container-pagination {
  display: flex;
  justify-content: center;
  position: relative;
}

.button-pagination {
  cursor: pointer;
  background-color: blanchedalmond;
  color: grey;
  padding: 14px 20px;
  margin: 8px 8px;
  border-radius: 4px;
}

.button-pagination:hover {
  background-color: whitesmoke;
}
